// !!! Place all custom variables above import otherwise they will not override !!!
// -- !default only assigns a value if the variable was previously undefined or null
// -- All variables in _variables are !default (conditional assignment)
// --- REF: https://css-tricks.com/creating-stylesheet-feature-flags-with-sass-default

$main-container-border: 0;
$color-text: white;
$conversation-color: #F7C546;
$color-text: white; // #212121
$message-content-incoming-bg-color: #60588F;
$message-content-outgoing-bg-color: #A69CD1;
$main-container-bg-color: #D5D3E0;
$message-list-bg-color: #D5D3DF;
$message-content-font-family: "Comic Mono", normal;

$button-send-color: #F7C546; 
$button-send-bg-color: #BBB7CD;

$button-attachment-color: #F7C546;
$button-attachment-bg-color: #BBB7CD;

$chat-container-message-input-bg-color: #D5D3E0;
$message-content-bg-color: red;




@import "../node_modules/@chatscope/chat-ui-kit-styles/themes/default/main.scss";
@import "../node_modules/@chatscope/chat-ui-kit-styles/themes/default/_variables.scss";
