// !!! Place all custom variables above import otherwise they will not override !!!
// -- !default only assigns a value if the variable was previously undefined or null
// -- All variables in _variables are !default (conditional assignment)
// --- REF: https://css-tricks.com/creating-stylesheet-feature-flags-with-sass-default

$main-container-border: 0;

$message-content-font-family: "Comic Mono", normal;

$message-content-incoming-bg-color: #60588F;
$message-content-outgoing-bg-color: #A69CD1;

$main-container-bg-color: #D5D3E0;
$message-list-bg-color: #D5D3DF;

// $button-send-color: #F7C546;  
// $button-send-bg-color: #BBB7CD;

// $button-attachment-color: #DB9A00;
// $button-attachment-bg-color: #BBB7CD;
// $button-attachment-color: transparent;

$chat-container-message-input-bg-color: #D5D3E0;
// $chat-container-message-input-bg-color: #BBB7CD;

$message-list-typing-indicator-bg-color: #6E6466;
$message-input-placeholder-color:#6C6264;

$message-input-border-bottom: 100px;
$message-input-content-editor-container-padding-bottom: 10;


$message-input-content-editor-font-family: "Comic Mono", normal;
$message-input-content-editor-color: #6C6264;

$color-primary: white;
$default-border-color: #D5D3E0;

$color-text: white;

$button-color: #f8c03b;
$button-border-radius: 1rem;
$button-disabled-opacity: 75%;

$message-content-border-radius: 1rem;

@import "../node_modules/@chatscope/chat-ui-kit-styles/themes/default/main.scss";
@import "../node_modules/@chatscope/chat-ui-kit-styles/themes/default/_variables.scss";
