@tailwind base;
@tailwind components;
@tailwind utilities;

/* for all text chatscope */
:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

.font-link {
  font-family: 'Comic Mono', normal;
}
  