.custard {
    height: 25vh;
    width: auto;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.qr-code {
    margin: auto;
}

code {
    margin: 2rem 1rem 2rem 1rem;
}